<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>

    <!-- Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">

</head>
<body id="task-body">
    
    <div id="tasks-place"></div>

    <section class="info card-new-task card-slide" id="add-task-frame">
        <img src="../static/imgs/icons/notes.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Add New Task</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </label>    
        
        <form id="task-form">
            <input type="text" id="task-title" name="task-title" placeholder="Task title" required>
            <input type="text" id="task-text" name="task-text" placeholder="Task text" required>
            <button type="submit" class="click-effect arrow-button" id="card-button-close"></button>
        </form>
    </section>

    <div id="tasks"></div>

    <div id="add-task" class="click-effect"></div>
    <div id="change-color" class="click-effect"></div>

    <script src="../static/script/script.js"></script>
    <script src="../static/script/color-change.js"></script>

</body>
</html>