<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>

    <!-- Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">

</head>
<body>
    
    <section class="card registration ">
        <img src="../static/imgs/icons/contacts.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Registration</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">Create an account or log in to start creating, organizing, and tracking your tasks with ease.</label>
    </section>

    <div id="form" class="input-form">
        <label class="text-1">Create an</label>
        <label class="title-1">Account</label>

        <textarea id="username" placeholder="Username" oninput="autoResize(this)" rows="1" class="textarea-input"></textarea>
        <textarea id="password" placeholder="Password" oninput="autoResize(this)" rows="1" class="textarea-input"></textarea>

        <a href="/index"><button class="arrow-button submit-button click-effect"></button></a>
    </div>
    
    <script src="../static/script/form.js"></script>
</body>
</html>