<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskify</title>

    <!-- Link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">

</head>
<body>
    
    <section class="welcome-page info">

        <img src="../static/imgs/icons/browser.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Welcome to Taskify</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </label>
        <button class="click-effect arrow-button" id="next-page"></button>

    </section>

    <section class="info info-1 card-slide">
        <img src="../static/imgs/icons/pages.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Manage Your Daily To-Do</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </label>
        <button class="click-effect arrow-button next-info-btn"></button>
    </section>

    <section class="info info-2 card-slide">
        <img src="../static/imgs/icons/twitter.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Quick & Simple</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </label>
        <button class="click-effect arrow-button next-info-btn"></button>
    </section>

    <section class="info info-3 card-slide">
        <img src="../static/imgs/icons/mortarboard.png">
        <h1 class="title-design" style="width: 250px; display: inline-block;">Smart Reminders</h1>
        <label class="text-design" style="width: calc(100% - 200px); display: inline-block;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer </label>
        <a href="/registration"><button class="click-effect arrow-button"></button></a>
    </section>


    <div id="change-color" class="click-effect"></div>

    <script src="../static/script/welcome.js"></script>
    <script src="../static/script/color-change.js"></script>
</body>
</html>