body {
    background-color: var(--primary-bg-color);
    width: calc(600px - 72px);
    height: calc(900px - 95px);

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    transition: all .3s;
    overflow: hidden;

    font-family: "Roboto";
}

/* ========================================================== */
/* Texts */
.title-design,
.text-design,
.small-title-design,
.subtitle-design {
    color: var(--secondary-text-color);
}
.title-design {font-size: 40px;margin: 0;}
.small-title-design {font-weight: bold; font-size: 15px; margin: 0;}
.subtitle-design {opacity: .5;}
/* ========================================================== */
/* Effects */
.click-effect {transition: all .3s; cursor: pointer;}
.click-effect:active {transform: scale(.9);}