body {
    background-color: var(--primary-bg-color);
    width: calc(600px - 72px);
    height: calc(900px - 95px);

    padding: 20px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    transition: all .3s;
    overflow: hidden;

    font-family: "Roboto";
}

/* ========================================================== */
/* Texts */
.title-design,
.text-design,
.small-title-design,
.subtitle-design {
    color: var(--secondary-text-color);
    margin: 0;
}
.title-design {font-size: 40px;margin: 0;}
.small-title-design {font-weight: bold; font-size: 15px; margin: 0;}
.subtitle-design {opacity: .5;}

/* ========================================================== */
/* Button */
#change-color {
    background-color: var(--black);
    height: 100px;
    width: 100px;
    
    border-radius: 100px;

    position: absolute;
    right: -30px;
    bottom: -30px;

    cursor: pointer;
    z-index: 100;
}

.arrow-button {
    background-color: var(--blue) !important;
    background: url("../imgs/icons/right-arrow.png");
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;

    width: 50px;
    height: 50px;

    outline: none;
    border: none;
    border-radius: 100px;
}
#add-task {
    background-color: var(--blue) !important;
    background: url("../imgs/icons/plus.png");
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;

    height: 100px;
    width: 100px;
    
    border-radius: 100px;

    position: absolute;
    left: -30px;
    bottom: -30px;

    cursor: pointer;
    z-index: 100;
}

/* ========================================================== */
/* Effects */
.click-effect {transition: all .3s; cursor: pointer;}
.click-effect:active {transform: scale(.9);}